.circle {
	font-weight: 500;
	font-size:18px !important;
    border-radius: 100%;
    background-color: rgb(255, 50, 50);
    width:50px;
	height:50px;
}

.circle p{
	padding-top:25%;
}

.timeline div {
	padding: 0;
	height: 40px;
}

.timeline hr {
	border-top: 3px solid rgb(255, 50, 50);
	margin: 0;
	top: 17px;
	position: relative;
}

.timeline .col-2 {
	display: flex;
	overflow: hidden;
}

.timeline .corner {
	border: 3px solid rgb(255, 50, 50);
	width: 100%;
	position: relative;
	border-radius: 15px;
}

.timeline .top-right {
	left: 50%;
	top: -51%;
}

.timeline .left-bottom {
	left: -50%;
	top: calc(50% - 3px);
}

.timeline .top-left {
	left: -50%;
	top: -51%;
}

.timeline .right-bottom {
	left: 50%;
	top: calc(50% - 3px);
}

.timeline div{
	margin:0;
}

.chartt{
	width:100%;
	max-height:9vh;
}

.domain, .tick line{
	stroke:none;
}
.tick text{
	fill:#fff;
}
#timeline{
	margin-top:20px;
}
#timeline .col-8{
	padding:0;
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    padding: 7px;				
    font: 10px sans-serif;		
    background: #333;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
.bars{
	opacity:0.7;
}

.tooltiptxt{
	font-size:10px !important;
}